[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
sqlx = { version = "0.7", default-features = false, features = ["runtime-tokio", "postgres", "uuid", "chrono", "macros", "migrate"] }
tokio = { version = "1.40", features = ["macros", "rt-multi-thread"] }
thiserror = "1.0"
