name: CI Pipeline

on:
  pull_request:
    branches:
      - main
      - develop
      - "*"
  push:
    branches: 
      - main
    tags:
      - "*.*.*"

jobs:
  validate_rust:
    name: Validate Rust
    uses: beep-industries/actions/.github/workflows/validate-rust.yml@main

  test_rust:
    name: Tests Rust
    uses: beep-industries/communities/.github/workflows/test.yml

  build_push_main:
    name: Build & Push Docker (main)
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: beep-industries/actions/.github/workflows/build-push-main.yml@main
    secrets: inherit

  build_push_tag:
    name: Build & Push Docker (tag)
    if: startsWith(github.ref, 'refs/tags/')
    uses: beep-industries/actions/.github/workflows/build-push-tag.yml@main
    secrets: inherit
